$screen-sm: 540px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg: 1220px;

@mixin media-sm {
  @media (min-width: $screen-sm) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: $screen-xlg) {
    @content;
  }
}
